@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@plugin "daisyui";

@plugin "daisyui/theme" {
	name: 'corporate';
	default: true;
	prefersdark: false;
	color-scheme: 'light';
	--color-base-100: oklch(100% 0 0);
	--color-base-200: oklch(93% 0 0);
	--color-base-300: oklch(86% 0 0);
	--color-base-content: oklch(22.389% 0.031 278.072);
	--color-primary: oklch(58% 0.158 241.966);
	--color-primary-content: oklch(100% 0 0);
	--color-secondary: oklch(65% 0.241 354.308);
	--color-secondary-content: oklch(100% 0 0);
	--color-accent: oklch(60% 0.118 184.704);
	--color-accent-content: oklch(100% 0 0);
	--color-neutral: oklch(0% 0 0);
	--color-neutral-content: oklch(100% 0 0);
	--color-info: oklch(60% 0.126 221.723);
	--color-info-content: oklch(100% 0 0);
	--color-success: oklch(62% 0.194 149.214);
	--color-success-content: oklch(100% 0 0);
	--color-warning: oklch(85% 0.199 91.936);
	--color-warning-content: oklch(0% 0 0);
	--color-error: oklch(57% 0.245 27.325);
	--color-error-content: oklch(96% 0.007 247.896);
	--radius-selector: 0.25rem;
	--radius-field: 0.25rem;
	--radius-box: 0.25rem;
	--size-selector: 0.25rem;
	--size-field: 0.25rem;
	--border: 1px;
	--depth: 0;
	--noise: 0;
}

hgroup {
	@apply text-slate-800 dark:text-slate-100;

	h1 {
		@apply mb-4 text-4xl leading-none font-extrabold tracking-tight md:text-5xl lg:text-6xl dark:text-white;
	}

	h2 {
		@apply text-4xl font-extrabold;
	}

	h3 {
		@apply text-3xl font-bold;
	}

	h4 {
		@apply text-2xl font-bold;
	}

	h5 {
		@apply text-xl font-bold;
	}
}

.button {
	@apply inline-flex cursor-pointer items-center justify-center gap-2 rounded-full px-6 py-2 text-sm leading-normal font-medium uppercase transition-all duration-150 ease-in-out focus:ring-0 focus:outline-none;
}

.button:active,
.button.active {
	@apply shadow-sm shadow-blue-500;
}
