:root {
	--page-width: 640px;
	--page-width-sm: 360px;
	--spacing-base: 1rem;
	--spacing-xs: calc(var(--spacing-base) * 0.25);
	--spacing-sm: calc(var(--spacing-base) * 0.5);
	--spacing-md: calc(var(--spacing-base) * 0.75);
	--spacing-lg: calc(var(--spacing-base) * 1.5);
	--spacing-xl: calc(var(--spacing-base) * 2);
	--content-space: var(--spacing-base);
	--page-space: var(--content-space);
}

:root {
	--gb-100: #e0f8cf;
	--gb-200: #86c06c;
	--gb-300: #306850;
	--gb-400: #102000;
	--gb-gray-100: #f8f8f8;
	--gb-gray-200: #a8a8a8;
	--gb-gray-300: #585858;
	--gb-gray-400: #080808;
}

:root {
	--sky-50: #dff4fd;
	--sky-100: #b5e4f9;
	--sky-200: #8bd4f5;
	--sky-300: #62c5f1;
	--sky-400: #38b5ed;
	--sky-500: #0ea5e9;
	--sky-600: #0c87bf;
	--sky-700: #096a95;
	--sky-800: #074c6b;
	--sky-900: #042e41;
	--gray-50: #e7eaee;
	--gray-100: #cdd2da;
	--gray-200: #b3bbc6;
	--gray-300: #98a3b3;
	--gray-400: #7e8c9f;
	--gray-500: #64748b;
	--gray-600: #515e71;
	--gray-700: #3f4957;
	--gray-800: #2c333d;
	--gray-900: #191d23;
	--text-color: var(--gray-700);
	--bg-color: #ffffff;
}

:root {
	--pok-primary: #dc0a2d;
	--pok-white: #ffffff;
	--grayscale-dark: #1d1d1d;
	--grayscale-medium: #666666;
	--grayscale-light: #e0e0e0;
	--grayscale-background: #efefef;
	--grayscale-white: #ffffff;
	--pok-mon-type-bug: #a7b723;
	--pok-mon-type-dark: #75574c;
	--pok-mon-type-dragon: #7037ff;
	--pok-mon-type-electric: #f9cf30;
	--pok-mon-type-fairy: #e69eac;
	--pok-mon-type-fighting: #c12239;
	--pok-mon-type-fire: #f57d31;
	--pok-mon-type-flying: #a891ec;
	--pok-mon-type-ghost: #70559b;
	--pok-mon-type-grass: #74cb48;
	--pok-mon-type-ground: #dec16b;
	--pok-mon-type-ice: #9ad6df;
	--pok-mon-type-normal: #aaa67f;
	--pok-mon-type-poison: #a43e9e;
	--pok-mon-type-psychic: #fb5584;
	--pok-mon-type-rock: #b69e31;
	--pok-mon-type-steel: #b7b9d0;
	--pok-mon-type-water: #6493eb;
}

body {
	padding: 0;
	margin: 0;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}

.main-grid {
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	position: relative;
	overflow: hidden;
	display: grid;
	grid-template: 1/1;
}

.main-grid > .main-page {
	grid-row: 1;
	grid-column: 1;
	overflow-x: hidden;
	overflow-y: auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}

.content,
.content-sm {
	width: var(--page-width);
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding: var(--content-space);
}
.content.flat,
.content-sm.flat {
	padding: 0 var(--content-space);
}

.content-sm {
	width: var(--page-width-sm);
	max-width: 100%;
}

svg.nwp-icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	stroke-width: 0;
	stroke: currentColor;
	fill: currentColor;
	font-size: var(--fs, 24px);
}

svg.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	stroke-width: 0;
	stroke: currentColor;
	fill: currentColor;
}

.pkmn-icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	stroke-width: 0;
	stroke: currentColor;
	fill: currentColor;
	font-size: var(--fs, 16px);
}

.pkmn-back {
	width: 1.01953125em;
}

.pkmn-search {
	width: 1.0009765625em;
}

.pkmn-pokeball {
	width: 0.990234375em;
}

.pkmn-hp {
	width: 2.75em;
}

.pkmn-level {
	width: 1.2001953125em;
}

.bg-glass {
	background: rgba(255, 255, 255, 0.2);
	border-radius: 16px;
	-webkit-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	border: 1px solid rgba(255, 255, 255, 0.3);
}

.logo {
	height: 10rem;
	padding: 1.5em;
	will-change: filter;
	-webkit-transition: -webkit-filter 300ms;
	transition: -webkit-filter 300ms;
	transition: filter 300ms;
	transition:
		filter 300ms,
		-webkit-filter 300ms;
}

.logo:hover {
	-webkit-filter: drop-shadow(0 0 2em rgba(100, 108, 255, 0.6666666667));
	filter: drop-shadow(0 0 2em rgba(100, 108, 255, 0.6666666667));
}

.logo.svelte:hover {
	-webkit-filter: drop-shadow(0 0 2em rgba(255, 62, 0, 0.6666666667));
	filter: drop-shadow(0 0 2em rgba(255, 62, 0, 0.6666666667));
}

.img-grid {
	--min: 120px;
	--gap: 0.5rem;
	display: grid;
	grid-gap: var(--gap);
	grid-template-columns: repeat(auto-fit, minmax(min(100%, var(--min)), 1fr));
}
.img-grid figure {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr -webkit-min-content;
	grid-template-rows: 1fr min-content;
	border: 1px solid #eee;
	aspect-ratio: 1/1;
	aspect-ratio: 1/1;
	grid-auto-flow: row;
	grid-template-areas: 'media' 'caption';
}
.img-grid .media {
	grid-area: media;
	display: grid;
	place-content: center;
}
.img-grid figcaption {
	grid-area: caption;
	text-align: left;
	padding: 4px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-size: 0.6rem;
	font-weight: 100;
	background-color: #eee;
}

.resp-media {
	aspect-ratio: 16/9;
	display: grid;
	grid-template: 1/1;
	overflow: hidden;
	background-color: var(--gray-900);
	max-width: 100%;
}

.resp-media > * {
	grid-row: 1;
	grid-column: 1;
}

.resp-media > img,
.resp-media > video {
	width: 100%;
	height: 100%;
	display: block;
	-o-object-fit: cover;
	object-fit: cover;
	-o-object-position: center;
	object-position: center;
	-webkit-transform: translate(0, 0);
	-ms-transform: translate(0, 0);
	transform: translate(0, 0);
	-webkit-transition: -webkit-transform 0.2s ease-in-out;
	transition: -webkit-transform 0.2s ease-in-out;
	transition: transform 0.2s ease-in-out;
	transition:
		transform 0.2s ease-in-out,
		-webkit-transform 0.2s ease-in-out;
}

.resp-media > img.closed,
.resp-media > video.closed {
	-webkit-transform: translateY(-100%);
	-ms-transform: translateY(-100%);
	transform: translateY(-100%);
}

.foo-bar {
	z-index: 1;
	background-color: var(--color-base-100);
	color: currentColor;
	border-top: 0.5px solid
		color-mix(in oklab, var(--color-base-content) 5%, rgba(0, 0, 0, 0));
	width: 100%;
	height: 4rem;
	height: calc(4rem + env(safe-area-inset-bottom));
	padding: 0.5rem;
	padding-bottom: env(safe-area-inset-bottom);
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-ms-flex-pack: distribute;
	justify-content: space-around;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	position: sticky;
	bottom: 0;
	left: 0;
	right: 0;
}
.foo-bar > * {
	cursor: pointer;
	border-radius: var(--radius-box);
	background-color: rgba(0, 0, 0, 0);
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-ms-flex-negative: 1;
	flex-shrink: 1;
	-ms-flex-preferred-size: 100%;
	flex-basis: 100%;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	gap: 1px;
	max-width: 8rem;
	height: 100%;
	margin-bottom: 0.5rem;
	-webkit-transition: opacity 0.2s ease-out;
	transition: opacity 0.2s ease-out;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	position: relative;
}
.foo-bar > *:where(.dock-active):after {
	content: '';
	background-color: currentColor;
	border-top: 3px solid;
	border-radius: 340282000000000000000000000000000000000px;
	width: 2.5rem;
	height: 0.25rem;
	position: absolute;
	bottom: 0.2rem;
}
@media (hover: hover) {
	.foo-bar > *:hover {
		opacity: 0.8;
	}
}
.foo-bar > *[aria-disabled='true'],
.foo-bar > *[aria-disabled='true']:hover,
.foo-bar > *[disabled],
.foo-bar > *[disabled]:hover {
	pointer-events: none;
	color: color-mix(in oklab, var(--color-base-content) 10%, transparent);
	opacity: 1;
}
.foo-bar > * .dock-label {
	font-size: 0.6875rem;
}
